/*para o CSS  nao interfira em outros elementos, apenas no HEADER, utilizar MODULE.CSS*/
/*MODULE CSS -> procura-se utilizar CLASSES*/


.header{
    background: var(--gray-800);
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
}
.header img{
    width: 2ren;
}