.wrapper{
    max-width: 70%;
    margin: 2% auto;
    padding: 0 1%; /*garante que se o conteudo for diminudo ainda ficara com 1ren de distancia*/

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2%;
    align-items: flex-start; /*mantem o conteudo alinhado com o topo*/

} 

@media (max-width: 798px){

    html{

        font-size: 87.5%; /* 16 -> 100%, 14*100\16 */
    }
    .wrapper{
        grid-template-columns: 1fr;
    }
}